@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #f6c771;
}

.navbar {
    background: linear-gradient(#881e3b,  #d28a0a);
    width: auto;
    height: 160px;
}

.titulo1 {
    padding: 40px;
    margin-top: px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: x-large;
    color: #f2f2f2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 1200px;
    height: 500px;
}

.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    background-color: #f8a000;
    border-radius: 20px;
    padding: 10px;
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #881e3b;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #b63c50;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #881e3b;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #881e3b;
    border: 2px solid #b63c50;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    /*width: 100vw;*/
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    /*width: 100vw;*/
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    /*width: 100vw;*/
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #881e3b;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #b63c50;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}


/*Aba de compra*/
.contentproje img{
    width: 150px;
    height: 150px;
}

.compra {
    padding: 10px;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 3px solid #881e3b;
    border-radius: 1em;
}

input, textarea {
    font-size: medium;
    font-family: 'Noto Sans', sans-serif;
    padding: 3px;
    background-color: #f8a000;
    width: 400px;
    border-radius: 7px;
}
legend {
    font-size: x-large;
    font-family: 'Noto Sans', sans-serif;
}


/*fim*/



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }

    .titulo1 {
        font-size: small;
    }

    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #000000;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}